ul{ list-style-type: none;
    background-color: white;
    height: 3cm;
    



}
li
{ 
    float: right;
    height:2cm;
    padding-top: 20x;
    padding-right: 20px;
    margin: 0px 0px 0px 0px;
    font-size: larger;




}
a:hover{
    color: green;
}
a{text-decoration: none;

}