ul{
    background-color: rgba(25,47,89,255);
    height: 2cm;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;  
    border-radius: 0% 0% 0% 0%;
    text-decoration: none;
    list-style-type: none;
    
}
.li{float: right;
    padding-right: 50px;
    
    


}
a:hover { color: green;}
a{text-decoration: none;
color: gray;}